.center_box{
    height: 412px;
    width: 408px;
    display:flex;
    top : 150px;
    left: 559px;
    position :absolute;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
    flex-direction: column;
    gap: 17px;


}
.Nut_info{
    background-color: red;
    color:black;
    font-size: 18px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
}
.Nut_info:hover{
    background-color: rgb(221, 104, 104);
    transform: scale(1.25);
}
.back  {
    background-color: orange;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    cursor: pointer;
    transition: background 0.3s; transform: 0.2s;
}
.back:hover {
    background-color: darkorange;
    transform: scale(1.25);
}
.info{
    height: 508px;
    width: 460px;
    background-color: rgb(0, 255, 255) ;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
    align-items: center;
    justify-content: center;

}
input.name{
    width:196px;
    height: 30px;
    top: 165px;
}
input.Email {
    width:196px;
    height: 30px;
    top: 165px;
}
input.Dia_Chi{
    width:196px;
    height: 30px;
    top: 165px;
}
input.SoDT{
    width:196px;
    height: 30px;
    top: 165px;
}
input.Social{
    width:250px;
    height: 30px;
    top: 165px;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
